version: '3'
services:
  node-red:
    ports: 
      - "1881:1880"
      - "444:443"
      - "8081:80"
    container_name: node-red
    image: "nodered/node-red"
    volumes:
      - /home/pi/nodered:/data
    restart: unless-stopped
    privileged: true

    # networks:
    #   mymacvlanActive:
    #     ipv4_address: 192.168.1.150
       
# networks:
#   mymacvlanActive:
#     external: true
    
    