.language-plaintext.highlighter-rouge {
    .code {
    font-family: menlo;
    color: $clr-purple;
    }
    .highlight{
        background-color: rgb(62, 62, 62) !important;
        color: rgb(255, 255, 255) !important;
        margin: 0px !important;
        padding: 10px !important;
        display: block !important;
        width: 100% !important;
        border-radius: 4px;
    }
    padding-bottom: 30px;
}

