<div class="sidebar">
    <h2>Articles</h2>

    {% assign sorted_categories = (site.categories | sort:0)%}
    {% for category in sorted_categories %}
        <div class="category-group"> 
            <h5 class="mt-3 mb-0">{{ category[0] }}</h5>
            {% assign items = category[1] | sort:date%}
            {% for item in items %}
                <article class="small py-0 my-0">
                    <a href="{{ item.url }}" class="text-decoration-none text-muted small">{{ item.title }}</a>
                </article>
            {% endfor %}
        </div>
    {% endfor %}
</div>
