<div class="row container my-4 row-cols-3">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
        <div class="card shadow-lg border-0 h-100">
            <a href="https://youtube.com/playlist?list=PLU9tksFlQRiovpszMpg4K90GyXDt_xncn">
            <img src="/assets/img/clustered-pi-youtube.jpg" alt="Youtube Series" class="card-img-top">
            </a>
            <div class="card-body">
                <h5 class="card-title">Youtube Series</h5>
                <p class="card-text">Watch the Youtube series here.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://youtube.com/playlist?list=PLU9tksFlQRiovpszMpg4K90GyXDt_xncn">Watch</a>
            </div>
        </div>
    
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card shadow-lg border-0  h-100">
            <a href="/blog/welcome-to-clusteredpi.html"><img src="assets/img/cluster4.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">Raspberry Pi 4 Cluster</h5>
          <p class="card-text">Read about the prototype</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/blog/welcome-to-clusteredpi.html">Read</a>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card shadow-lg border-0 h-100">
            <a href="/blog/clustered-pi-zero.html"><img src="/assets/img/clustered-pi-zero-hero.jpg" class="card-img-top"></a>
            <div class="card-body">
                <h5 class="card-title">Raspberry Pi Zero Cluster</h5>
                <p class="card-text">Read about the Clustered-Pi Zero</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/blog/clustered-pi-zero.html">Read</a>
            </div>
        </div>
    </div>
    
    </div>